:root{
	/*UXD Global Tokens*/

	/*基準フォントサイズ、フォントジャンプ率係数*/
	--fontbase: 1rem;
	--n:1.125;

	/*フォントサイズ*/
	--font-size-5xl: calc(var(--fontbase) * var(--n) * var(--n) * var(--n)* var(--n)* var(--n)* var(--n)* var(--n));
	--font-size-4xl: calc(var(--fontbase) * var(--n) * var(--n) * var(--n)* var(--n)* var(--n)* var(--n));
	--font-size-3xl: calc(var(--fontbase) * var(--n) * var(--n) * var(--n)* var(--n)* var(--n));
	--font-size-2xl: calc(var(--fontbase) * var(--n) * var(--n) * var(--n)* var(--n));
	--font-size-xl: calc(var(--fontbase) * var(--n) * var(--n) * var(--n));
	--font-size-l: calc(var(--fontbase) * var(--n) * var(--n));
	--font-size-lm: calc(var(--fontbase) * var(--n));
	--font-size-m: calc(var(--fontbase) * 1);
	--font-size-s: calc(var(--fontbase) / var(--n));
	--font-size-xs: calc(var(--fontbase) / var(--n) / var(--n));
	--font-size-xxs: calc(var(--fontbase) / var(--n) / var(--n) / var(--n));

	/*行送り 基本+8pxルール*/
	--font-lineheight-5xl: calc(var(--font-size-5xl) + var(--fontbase)*0.5);
	--font-lineheight-4xl: calc(var(--font-size-4xl) + var(--fontbase)*0.5);
	--font-lineheight-3xl: calc(var(--font-size-3xl) + var(--fontbase)*0.5);
	--font-lineheight-2xl: calc(var(--font-size-2xl) + var(--fontbase)*0.5);
	--font-lineheight-xl: calc(var(--font-size-xl) + var(--fontbase)*0.5);
	--font-lineheight-l: calc(var(--font-size-l) + var(--fontbase)*0.5);
	--font-lineheight-lm: calc(var(--font-size-lm) + var(--fontbase)*0.5);
	--font-lineheight-m: calc(var(--font-size-m) + var(--fontbase)*0.5);
	--font-lineheight-xs: calc(var(--font-size-xs) + var(--fontbase)*0.25);
	--font-lineheight-xxs: calc(var(--font-size-xxs) + var(--fontbase)*0.15);


	/*角丸*/
	--radius-full: 999rem;
	--radius-3xl:calc(var(--fontbase) * 2);
	--radius-2xl:calc(var(--fontbase) * 1.5);
	--radius-xl:calc(var(--fontbase) * 1);
	--radius-l: calc(var(--fontbase) * 0.75);
	--radius-lm: calc(var(--fontbase) * 0.5);
	--radius-m: calc(var(--fontbase) * 0.375);
	--radius-s: calc(var(--fontbase) * 0.25);
	--radius-xs: calc(var(--fontbase) * 0.125);
	--radius-none: 0rem;

	/*Spacing（余白）*/
	--spacing-4xl: calc(var(--fontbase) * 4);
	--spacing-3xl: calc(var(--fontbase) * 3);
	--spacing-2xl: calc(var(--fontbase) * 2.5);
	--spacing-xl: calc(var(--fontbase) * 2);
	--spacing-l: calc(var(--fontbase) * 1.5);
	--spacing-lm: calc(var(--fontbase) * 1.25);
	--spacing-m: calc(var(--fontbase) * 1);
	--spacing-ms: calc(var(--fontbase) * 0.75);
	--spacing-s: calc(var(--fontbase) * 0.5);
	--spacing-xs: calc(var(--fontbase) * 0.25);
	--spacing-2xs: calc(var(--fontbase) * 0.125);
	--spacing-3xs: calc(var(--fontbase) * 0.0625);
	
	/*シャドウ*/
	--shadow-lv01:0px calc(var(--fontbase) / 64) calc(var(--fontbase) / 10) rgba(0, 0, 0, 0.2);
	--shadow-lv02:0px calc(var(--fontbase) / 16) calc(var(--fontbase) / 6) rgba(0, 0, 0, 0.2);
	--shadow-lv03:0px calc(var(--fontbase) / 8) calc(var(--fontbase) / 2) rgba(0, 0, 0, 0.16);
	--shadow-lv04:0px calc(var(--fontbase) / 4) calc(var(--fontbase) / 1.5) rgba(0, 0, 0, 0.13);
	--shadow-lv05:0px calc(var(--fontbase) / 2) calc(var(--fontbase) / 1) rgba(0, 0, 0, 0.1);

	

	/*カラー（Background）*/
	--surface: #d9d9d9;
	--surface-light: #ffffff62;
	--container:#ffffff81;
	--container-neg:#0000000c;
	--container-pos:#ffffff3a;
	--brand-color: #2589ec;

	/*カラー（onContent）*/
	--text-color-max:#000000;
	--text-color-high: #000000d6;
	--text-color-mid: #0000007e;
	--text-color-low:#00000022;
	--text-color-fade:#0000000b;
	--text-color-white-max:#FFFFFF;

	/*境界線太さ*/
	--border-size-l:calc(var(--fontbase) * 0.25);
	--border-size-m:calc(var(--fontbase) * 0.125);
	--border-size-s:calc(var(--fontbase) * 0.0625);

	/*Breakpoint*/
	--breakpoint-s:375px;
	--breakpoint-m:540px;
	--breakpoint-lm:700px;
	--breakpoint-l:1024px;

	


	
	
}









body {
	font-family: Arial, sans-serif;
	background-color: var(--surface);


}












body[theme="compact"] {

		/*率*/
		--delta:0.25;

		/*Spacing（余白）*/
		--spacing-4xl: calc(var(--fontbase) * 4 *var(--delta));
		--spacing-3xl: calc(var(--fontbase) * 3 *var(--delta));
		--spacing-2xl: calc(var(--fontbase) * 2.5 *var(--delta));
		--spacing-xl: calc(var(--fontbase) * 2 *var(--delta));
		--spacing-l: calc(var(--fontbase) * 1.5 *var(--delta));
		--spacing-lm: calc(var(--fontbase) * 1.25 *var(--delta));
		--spacing-m: calc(var(--fontbase) * 1 *var(--delta));
		--spacing-ms: calc(var(--fontbase) * 0.75 *var(--delta));
		--spacing-s: calc(var(--fontbase) * 0.5 *var(--delta));
		--spacing-xs: calc(var(--fontbase) * 0.25 *var(--delta));
		--spacing-2xs: calc(var(--fontbase) * 0.125 *var(--delta));
		--spacing-3xs: calc(var(--fontbase) * 0.0625 *var(--delta));
		
		
	
}

body[theme="loose"] {

	--delta:2;
	/*Spacing（余白）*/
	--spacing-4xl: calc(var(--fontbase) * 4 *var(--delta));
	--spacing-3xl: calc(var(--fontbase) * 3 *var(--delta));
	--spacing-2xl: calc(var(--fontbase) * 2.5 *var(--delta));
	--spacing-xl: calc(var(--fontbase) * 2 *var(--delta));
	--spacing-l: calc(var(--fontbase) * 1.5 *var(--delta));
	--spacing-lm: calc(var(--fontbase) * 1.25 *var(--delta));
	--spacing-m: calc(var(--fontbase) * 1 *var(--delta));
	--spacing-ms: calc(var(--fontbase) * 0.75 *var(--delta));
	--spacing-s: calc(var(--fontbase) * 0.5 *var(--delta));
	--spacing-xs: calc(var(--fontbase) * 0.25 *var(--delta));
	--spacing-2xs: calc(var(--fontbase) * 0.125 *var(--delta));
	--spacing-3xs: calc(var(--fontbase) * 0.0625 *var(--delta));
}

body[theme="dark"] {
	/*カラー（Background）*/
	--surface: #1e1e1e;
	--surface-light: #ffffff0c;
	--container:#45454581;
	--container-neg:#ffffff0c;
	--container-pos:#0000003a;
	--brand-color: #2589ec;

	/*カラー（onContent）*/
	--text-color-max:#ffffffff;
	--text-color-high: #ffffffd6;
	--text-color-mid: #ffffff7e;
	--text-color-low:#ffffff22;
	--text-color-fade:#ffffff0b;
	--text-color-white-max:#FFFFFF;


}


h1 {
	font-family: "Helvetica Neue", Arial, sans-serif;
  	font-size: var(--font-size-2xl);
	line-height: var(--font-lineheight-2xl);
	font-weight: bold;
	text-align: center;
	color: var(--text-color-low);
}

h2	{
	font-style: normal;
	font-weight: 600;
	font-size: var(--font-size-m);
	line-height: var(--font-lineheight-m);
	color: var(--text-color-mid);
}

.body2	{
	font-style: normal;
	font-weight: 600;
	font-size: var(--font-size-m);
	line-height: var(--font-lineheight-m);
	color: var(--text-color-mid);
}

.body3	{
	font-style: normal;
	font-weight: 600;
	font-size: var(--font-size-);
	line-height: var(--font-lineheight-s);
	color: var(--text-color-mid);
}

#viewport-size {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #fff;
	padding: 5px;
	font-size: 14px;
}


[class^=container]{
	/* Auto layout */
	display: flex;
	padding: var(--spacing-2xl);
	gap: var(--spacing-2xl);
	background: var(--surface);
}


[class^=block]{
	/* Auto layout */
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	padding: 0px;
	gap: var(--spacing-xl);
	background: var(--surface);
	/* Inside auto layout */
}
  
[class^=box]{
	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: var(--spacing-l);
	gap: var(--spacing-l);

	

	/* Inside auto layout */
	flex: 1;
	order: 0;
	align-self: stretch;
	flex-grow: 1;

	
  
}

[class^=box-style]{
	background: var(--surface-light);
	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: var(--spacing-l);
	gap: var(--spacing-l);

	/* Inside auto layout */
	flex: 1;
	order: 0;
	align-self: stretch;


	border-radius: var(--radius-xl);
	border: var(--spacing-2xs) solid var(--text-color-fade);
	box-shadow: var(--shadow-lv01);
}

[class^=box-hori]{
	background: var(--surface-light);
    /* Auto layout */
    display: flex;
    flex-direction: row;
	justify-content: center;
    align-items: center; 
    padding: var(--spacing-m);
    gap: var(--spacing-m);
	

    /* Inside auto layout */
    flex: none;
    order: 0;
	flex-grow: 0;

    align-self: stretch; 

	

    border-radius: var(--radius-xl);
    box-shadow: var(--shadow-lv03);
}
  
.btn01{
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-self: stretch;
	align-items: center;
	padding: var(--spacing-m); 

	background: var(--brand-color);

	flex: 1;
	order: 0;
	align-self: center;
	flex-grow: 1;

	border-radius: var(--radius-lm);
}



/*メディアクエリー*/

@media screen and (min-width:1px) and (max-width:360px) {
	:root {
		--fontbase: 1.125rem;
		--n: 1.125;

				/*率*/
				--delta:0.125;

				/*角丸*/
				--radius-full: 999rem;
				--radius-3xl:calc(var(--fontbase) * 2 *var(--delta));
				--radius-2xl:calc(var(--fontbase) * 1.5 *var(--delta));
				--radius-xl:calc(var(--fontbase) * 1 *var(--delta));
				--radius-l: calc(var(--fontbase) * 0.75 *var(--delta));
				--radius-lm: calc(var(--fontbase) * 0.5 *var(--delta));
				--radius-m: calc(var(--fontbase) * 0.375 *var(--delta));
				--radius-s: calc(var(--fontbase) * 0.25 *var(--delta));
				--radius-xs: calc(var(--fontbase) * 0.125 *var(--delta));
				--radius-none: 0rem;

				/*Spacing（余白）*/
				--spacing-4xl: calc(var(--fontbase) * 4 *var(--delta));
				--spacing-3xl: calc(var(--fontbase) * 3 *var(--delta));
				--spacing-2xl: calc(var(--fontbase) * 2.5 *var(--delta));
				--spacing-xl: calc(var(--fontbase) * 2 *var(--delta));
				--spacing-l: calc(var(--fontbase) * 1.5 *var(--delta));
				--spacing-lm: calc(var(--fontbase) * 1.25 *var(--delta));
				--spacing-m: calc(var(--fontbase) * 1 *var(--delta));
				--spacing-ms: calc(var(--fontbase) * 0.75 *var(--delta));
				--spacing-s: calc(var(--fontbase) * 0.5 *var(--delta));
				--spacing-xs: calc(var(--fontbase) * 0.25 *var(--delta));
				--spacing-2xs: calc(var(--fontbase) * 0.125 *var(--delta));
				--spacing-3xs: calc(var(--fontbase) * 0.0625 *var(--delta));
	}

	[class^=box-hori]{
		flex-direction: column;
		justify-self: stretch;
		
	}

	[class^=block]{
		flex-direction: column;
	}

	.btn01{
		flex: none;
		order: 0;
		align-self: stretch;
		flex-grow: 0;
	}
}

@media screen and (min-width:361px) and (max-width:540px) {
	:root {
		--fontbase: 1.25rem;
		--n: 1.125;

				/*率*/
				--delta:0.45;

				/*Spacing（余白）*/
				--spacing-4xl: calc(var(--fontbase) * 4 *var(--delta));
				--spacing-3xl: calc(var(--fontbase) * 3 *var(--delta));
				--spacing-2xl: calc(var(--fontbase) * 2.5 *var(--delta));
				--spacing-xl: calc(var(--fontbase) * 2 *var(--delta));
				--spacing-l: calc(var(--fontbase) * 1.5 *var(--delta));
				--spacing-lm: calc(var(--fontbase) * 1.25 *var(--delta));
				--spacing-m: calc(var(--fontbase) * 1 *var(--delta));
				--spacing-ms: calc(var(--fontbase) * 0.75 *var(--delta));
				--spacing-s: calc(var(--fontbase) * 0.5 *var(--delta));
				--spacing-xs: calc(var(--fontbase) * 0.25 *var(--delta));
				--spacing-2xs: calc(var(--fontbase) * 0.125 *var(--delta));
				--spacing-3xs: calc(var(--fontbase) * 0.0625 *var(--delta));
	}

	[class^=box-hori]{
		flex-direction: column;
		justify-self: stretch;
	}

	[class^=block]{
		flex-direction: column;
	}

	.btn01{
		flex: none;
		order: 0;
		align-self: stretch;
		flex-grow: 0;
	}
}

@media screen and (min-width:541px) and (max-width:720px) {
	[class^=block]{
		flex-direction: column;	
	}
}

@media screen and (min-width:1024px) {
	:root {
		--fontbase: 0.75rem;
		--n:1.125;
	}
  }